.cart-page {
  display: flex;
  gap: 30px;
  padding: 30px;
  background: #f2f2f2;
  min-height: 80vh;
}

.cart-products {
  flex: 2;
}

.cart-title {
  margin-bottom: 20px;
}

.cart-summary {
  flex: 1;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  height: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #000;

}

.cart-summary h3 {
  margin-bottom: 15px;
  color: #000;

}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 20px 0;
  font-weight: bold;
}

.btn-primary {
  width: 100%;
  background: #1900ff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-secondary {
  width: 100%;
  background: transparent;
  color: blue;
  border: 1px solid red;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}
