.item-card {
  width: 250px;
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.item-card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 10px;
}

.item-card h1 {
  font-size: 1.2rem;
  color: black;
}

.item-card p {
  font-size: 1.5rem;
  margin-bottom: 8px;
  color: black;

}

.item-card button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 10px;     
  font-size: 1rem;   
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
  margin-top: 10px;
}


.item-card button:hover {
  background: #0056b3;
}

/* Contenedor general para todos los items */
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
