.cart-item {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  gap: 20px;
  color: #000;
}

.cart-item img {
  width: 90px;
  object-fit: contain;
}

.cart-item-info {
  flex: 1;
}

.cart-item-name {
  font-size: 0.95rem;
  margin-bottom: 10px;
  color: #000;
}

.cart-item-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ff3d00;
  border-radius: 10px;
  width: fit-content;
  padding: 5px 10px;
}

.cart-item-controls button {
  border: none;
  background: solid;
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-item-price {
  font-weight: bold;
  font-size: 1.1rem;
  color: #000;
}

.cart-item-delete {
  background: #ff3d00;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
}
