#root {
  width: 100%;
  margin: 0;
}

.main-content {
  padding-top: 10px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-container {
  width: 200%;
  max-width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ddd; /* opcional */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
